<form [formGroup]="userProfileForm">
  <div class="container">
    <div class="user-profile">
      <h3 *ngIf="userProfile?.gameLeader">Hello Leader!!</h3>
      <span class="userNameEdit"> <h2>{{ userProfile?.userName }}</h2><button mat-icon-button type="button" (click)="toggleEditMode()">
        <mat-icon> {{ isEditMode ? "check" : "edit" }}</mat-icon>
       </button></span>
      <label for="avatarInput">
        <img formControlName="displayedImage" [src]="selectedFile?displayedImage: link+'images/'+ displayedImage"
          alt="User Avatar"
          style="cursor: pointer"
        />
        <p>{{ isEditMode ? "Choose Image" : "" }}</p>
      </label>
      <input
        type="file"
        id="avatarInput"
        [disabled]="!isEditMode"
        style="display: none"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [disabled]="true" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Company Unit</mat-label>
        <input matInput formControlName="companyUnit" [disabled]="true" />

      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Team Name</mat-label>
        <input matInput formControlName="name" [disabled]="true" />
      </mat-form-field>

    </div>
  </div>
</form>
