<div class="container">
<form [formGroup]="userProfileForm">

    <div class="user-profile">
      <h3 *ngIf="userProfile?.gameLeader">{{'PROFILE_PAGE.HELLO_LEADER'|translate}}</h3>
      <mat-card>

      <span class="userNameEdit">
        <h2>{{ userProfile?.userName }}</h2>
        <button mat-icon-button type="button" (click)="toggleEditMode()">
          <mat-icon> {{ isEditMode ? "check" : "edit" }}</mat-icon>
        </button></span
      >
      <label for="avatarInput">
        <img
          formControlName="displayedImage"
          [src]="
            selectedFile
              ? displayedImage
              : displayedImage
              ? link + 'images/' + displayedImage
              : '../../assets/images.png'
          "
          alt="User Avatar"
          style="cursor: pointer"
        />
        <p>{{ isEditMode ? "Choose Image" : "" }}</p>
      </label>
      <input
        type="file"
        id="avatarInput"
        [disabled]="!isEditMode"
        style="display: none"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <mat-form-field appearance="outline">
        <mat-label>{{ 'PROFILE_PAGE.EMAIL_LABEL' | translate }}</mat-label>
        <input matInput formControlName="email" [disabled]="true" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="!isSuperuser">
        <mat-label>{{ 'PROFILE_PAGE.COMPANY_UNIT_LABEL' | translate }}</mat-label>
        <input matInput formControlName="companyUnit" [disabled]="true" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isSuperuser">
        <mat-label>{{ 'PROFILE_PAGE.COMPANY_NAME_LABEL' | translate }}</mat-label>
        <input matInput formControlName="companyName" [disabled]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!isSuperuser">
        <mat-label>{{ 'PROFILE_PAGE.TEAM_NAME_LABEL' | translate }}</mat-label>
        <input matInput formControlName="name" [disabled]="true" />
      </mat-form-field>
    </mat-card>
    </div>

</form>
</div>
