<div class="container">
  <div class="header">
    <app-header></app-header>
    <div class="footer-center"  id="mydiv" >
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button class="menuButton" mat-menu-item (click)="onButtonClick('mybattle')">
          <span class="menuSpan" [ngClass]="isActiveButton=='mybattle'?'active':''">My Battle</span>
        </button>
        <button class="menuButton" mat-menu-item (click)="onButtonClick('ranking')">
          <span class="menuSpan" [ngClass]="isActiveButton=='ranking'?'active':''">Ranking</span>
        </button>
        <button class="menuButton" mat-menu-item (click)="onButtonClick('communications')">
          <span class="menuSpan" [ngClass]="isActiveButton=='communications'?'active':''">Chat</span>
        </button>
        <button class="menuButton" mat-menu-item (click)="onButtonClick('profile')">
          <span class="menuSpan" [ngClass]="isActiveButton=='profile'?'active':''">Profile</span>
        </button>
        <button class="menuButton" mat-menu-item (click)="onButtonClick('Team-profile')">
          <span class="menuSpan" [ngClass]="isActiveButton=='Team-profile'?'active':''">Team Details</span>
        </button>
        <button class="menuButton" mat-menu-item (click)="logOut() ">
          <span class="menuSpan" [ngClass]="isActiveButton=='logOut'?'active':''">Log Out</span>
        </button>
      </mat-menu>
      </div>
  </div>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
  <!-- <div class="footer"></div> -->

</div>

