.container {
  display: flex;
  flex-direction: column;
  height: 100%; // This makes sure your container takes up the full height of the viewport
}

.header,
.footer {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  app-header {
    width: 100%;
  }
}

.footer {
  width: 100%;
  app-menu {
    width: 100%;
  }
}

.content {
  flex-grow: 1; // This makes sure your content takes up all the remaining space
  overflow-y: auto;
  position: relative;
  z-index: 1;
  // &::before {
  //   z-index: -1;
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   // background-image: url('../../assets/Tennisplatz_Paris.jpg');
  //   background-position: center;
  //   background-size: cover;
  //   opacity: 0.35; // Adjust the opacity value as needed
  // }
}
