<form [formGroup]="teamProfileForm">
  <div class="container">
    <div class="user-profile">
      <h3 *ngIf="TeamProfile?.gameLeader">Hello Leader!!</h3>
      <h2>{{ TeamProfile?.userName }}</h2>
      <label for="avatarInput">
        <img
          [src]="
            selectedFile
              ? displayedImage
              : link + 'http://192.168.29.234:3000/images/' + TeamProfile
          "
          alt="User Avatar"
          style="cursor: pointer"
        />
        <p>{{ isEditMode ? "Choose Image" : "" }}</p>
      </label>
      <input
        type="file"
        id="avatarInput"
        [disabled]="!isEditMode"
        style="display: none"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <mat-form-field appearance="fill">
        <mat-label>Team Name</mat-label>
        <input matInput formControlName="email" [disabled]="true" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Game Leader Name</mat-label>
        <input matInput formControlName="name" [disabled]="true" />
      </mat-form-field>

      <hr />
      <div class="container-table">
        <ul class="player-list">
          <li *ngFor="let player of myTeamList">
            <span>
            <div class="circle">
              <img src="../../assets/Max-R_Headshot (1).jpg" alt="" width="100" class="Profile">
            </div>
              {{ player.name }} 
            </span>
           
          </li>
        </ul>
      </div>
      <hr />
<br>
      <button mat-raised-button type="button" (click)="toggleEditMode()">
        {{ isEditMode ? "Save" : "Edit Profile" }}
      </button>
    </div>
  </div>
</form>
