<div class="container-table">
  <hr/>
  <ul class="player-list">
    <!-- <li class="table-con">
      <p class="th-1">Sr.No</p>
      <p class="th-2">Player Name</p>
      <p class="th-3">Sales in LC</p>
      <p class="th-4">Score</p>
    </li> -->
    <li *ngFor="let Unit of tableData; let i = index" class="tab" >
     <span class="player-info">
       <span class="sr-number">{{i+1}}.</span>
       <mat-icon>person</mat-icon> 
       <span class="player-name">{{ Unit.name }}</span>
     </span>       
     <span class="sales">{{ Unit.companyCurrentLC}}</span>
     <span class="score">{{ Unit.rankingScore ? Unit.rankingScore + "%" : "NA" }}</span>
    </li>
  </ul>
  <hr/>
</div>