.container-table {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
}

.player-table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;


}

.player-table td {
      padding: 14px 17px;
  // border: 1px solid #ddd;
  text-align: left;
  border-bottom: 1px solid #ff2929;
}

.tab td {
  text-align: center;


}
