<div class="container-table">
  <hr />
  <ul class="Unit-list">
    <ng-container *ngIf="tableData && tableData.length > 0; else noData">
      <li *ngFor="let Unit of tableData; let i = index" class="tab">
        <span class="player-info">
          <span class="sr-number">{{ i + 1 }}.</span>
          <mat-icon>person</mat-icon>
          <span class="player-name">{{ Unit.name }}</span>
        </span>
        <span class="sales">{{ Unit.companyCurrentLC }}</span>
        <span class="score">{{
          Unit.rankingScore ? Unit.rankingScore + "%" : "NA"
        }}</span>
      </li>
    </ng-container>
    <ng-template #noData>
      <li>No data found</li>
    </ng-template>
  </ul>
  <hr />
</div>
