.container{
  width: 100%;
  height: fit-content;
  // padding: 10px 10px;
  text-align: center;
  // border: 0.1px solid rgb(107, 107, 233);
  background-color: rgb(255, 0, 0);
  h2{
    margin: 0;
    color: white;
    padding-block: 10px;
  }
}
