.container-menu{
  width: 100%;
  display: flex;
  background-color: rgb(255, 0, 0);
  flex-direction: row;
  span{
    width: 25%;
    padding-block-end: calc((100vw - 20px) / 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    // flex: auto;
    cursor: pointer;
  border: none;
    &:not(:last-child) {
      border-right: 2px solid rgb(255, 255, 255);
    }
    p{
      width: fit-content;
      text-wrap: nowrap;
      color: white;
      font-weight: 500;
      margin: 0;
    }
    &:first-child{
      padding-inline-start: 10px;
    }
  }
// 
}
