<div class="container">
  <form [formGroup]="newsContent">
    <mat-form-field appearance="fill" class="title">
      <mat-label
        >{{ "COMMUNICATION_PAGE.NEWS_POST_PAGE.TITLE_LABEL" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="title" />
    </mat-form-field>
    <angular-editor
    formControlName="content"
    id="angular-editor"
    class="angular-editor custom-input"
    [config]="config"
    #editor
    (keydown)="countCharacters($event)"
    (paste)="preventPaste($event)"
  >
    <ng-template #customButtons let-executeCommandFn="executeCommandFn">
      <ae-toolbar-set>
        <ae-button
          iconClass="fa fa-video-camera"
          title="Insert Video"
          (buttonClick)="addVideo()"
        ></ae-button>
      </ae-toolbar-set>
  
      <span class="character-count" [style.color]="characterCount > maxCharacters ? 'red' : 'black'">
        Characters No: {{ characterCount }} / {{ maxCharacters }}
      </span>
    </ng-template>
  </angular-editor>
  </form>
  <button mat-raised-button class="postNewsButton" (click)="submitContent()">
    {{ "COMMUNICATION_PAGE.NEWS_POST_PAGE.POST_BUTTON_TEXT" | translate }}
  </button>
</div>
