.container{
  width: 100vw;
  // height: 100%;
  height:70vh;
  overflow-y:scroll;
  // margin-block-start: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  form{
    width: 90%;
    text-align: center;
    .title{
      width: 100%;
    }
    angular-editor{
      text-align: left;
      // max-width: 600px; /* Set a desired max-width for the editor */
       word-wrap: break-word;
    }
    button{

      font-size: 1.5rem;
      font-weight: 600;

      margin-block-start: 1rem;
    }
  }
  .postNewsButton{
    // position: absolute;
    background-color: #cc0000;
    color: #fff;
    font-size: 23px;
    width: 11rem;
    // bottom: 37px;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 1;

  }
}
@media only screen and (max-width: 480px) {
  .container{
    form{
      button{
        font-size: 1.2rem;
        font-weight: 100;
      }
    }
  }
}
