.container-login {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .header-div{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #cc0000;
      .header-logo{
       img{
        width: 100px;
       }
      }
      .header-title{
        color: white;
      }
  }
  .content-text{
    text-align: center;
      p{
        margin: 0;
        font-size: 1.4rem;
        color: #cc0000;
        }
  }
  .card-container{
    // padding: 10px;
    margin-block-start: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    mat-card{
      background-color: #dedede;
      padding: 25px;
      border-radius: 16px;
      .lang-drop-down {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-block: 5px 0;
        width: 100%;
        padding-inline-end: 1rem;
        select{
          width: 30%;
          border: none;
          border-radius: 10px;
        }
      }
      .login-content {
        text-align: center;
        display: flex;
        margin: 5px 10px;
        flex-direction: column;

        h1 {
          margin-block: 5px 10px;
          font-size: 2rem;
          color: #cc0000;
        }

        .form-container {
          display: flex;
          flex-direction: column;
          // margin-bottom: 20px;

          mat-form-field {
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 5px;
          }
          .error {
            color: #333;
            font-size: 13px;
            margin-left: -17px
          }

        }

        .button-login {
          background-color: #cc0000;
          border-radius: 10px;
          width: 100%;
          text-align: center;
          // margin-top: 50px;

          button {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 600;
            color:  white;
          }
        }

        .forgot-password-link {
          width: 100%;
          text-align: right;
          text-decoration: underline;
          margin-bottom: 15px;
          margin-top: -15px;

          color: #c00;
          cursor: pointer;
        }
      }
    }
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;

    img {
      max-width: 50%;
      // margin-right: 10px;
    }
  }


}

