.container-login {
  height: 100%;
  background: linear-gradient(to bottom, #f6dfdf, #FF5454);  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    img {
      max-width: 50%;
      // margin-right: 10px;
    }
  }

  .login-content {
    text-align: center;

    p {
      margin: 5px 0;
      font-weight: 600;
    }

    h1 {
      margin: 10px 0;
      font-size: 2rem;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      mat-form-field {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .button-login {
      background-color: rgb(51, 51, 51);
      border-radius: 10px;
      width: 100%;
      text-align: center;

      button {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .forgot-password-link {
      color: #333;
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
