<div class="container-login" #sleectImage id="myDiv">
  <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="Sports Logo" />
    <img src="../../assets/logo wurth.png" alt="Wurth Logo" />
  </div>
  <div class="login-content">
    <p>Hello Players</p>
    <p>Are You Ready For Battle Day</p>
    <h1>LOGIN</h1>
    <p>For Battle</p>
    <div class="form-container" [formGroup]="loginForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          placeholder="Player's Email"
          formControlName="email"
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')" class="error">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')" class="error">
          Invalid email format
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'" name="password">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
   
        <mat-error
          *ngIf="loginForm.get('password')?.hasError('required')"
          class="error"
        >
          Password is required
        </mat-error>
        <mat-error
          *ngIf="loginForm.get('password')?.hasError('pattern')"
          class="error"
        >
          Password must contain at least 8 characters, including one uppercase
          letter, one lowercase letter, one symbol, and at least two numbers.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-login" (click)="login()">
      <button mat-button color="primary">Login</button>
    </div>
    <a href="#" class="forgot-password-link" routerLink="forgotpassword"
      >Forgot Password?</a
    >
  </div>
</div>
