<div class="container-playerName">
  <span>
    <img src="../../assets/sports logo.png" alt="Sports Logo">
    <img src="../../assets/logo wurth.png" alt="Wurth Logo">
  </span>

  <div style="margin-block-start: 40px;">
    <h2>Tell Us Your Player Name</h2>
   <mat-form-field appearance="fill">
      <mat-label>Name Your Player</mat-label>
      <input matInput type="text" placeholder="Player Name">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary"  [routerLink]="'/playerimage'">Continue</button>
</div>
