
<div class="container-table">
  <hr/>
  <ul class="player-list">
    <ng-container *ngIf="tableData && tableData.length > 0; else noData">
      <li *ngFor="let company of tableData; let i = index" class="tab" >
        <span class="teamid" style="text-align:justify;">{{ i + 1 }}</span>
        <span >
          <!-- <mat-icon>person</mat-icon>  -->
          {{ company.name.slice(0,14)}}... </span>
        <span class="sales" style="text-align: center;">{{ company.companyCurrentLC }}</span>
        <span class="score"style="text-align: center;">{{ company.rankingScore.toString().slice(0,4) }}%</span>
        </li>
    </ng-container>
    <ng-template #noData>
      <li>No data found</li>
    </ng-template>
  </ul>
  <hr/>
</div>