<div class="container-table">
  <hr />
  <table class="player-table">
    <ng-container *ngIf="tableData && tableData.length > 0; else noData">
      <tr *ngFor="let company of tableData; let i = index" class="tab">
        <td class="teamid" style="text-align: justify">{{ i + 1 }}</td>
        <td>
          <div class="iconcircle">
            <!-- <i id="icon" ngClass="{{ icon(company.name.slice(0, 2)) }}"></i> -->
            <i
              id="icon"
              [ngClass]="company?.name ? icon(company.name.slice(0, 2)) : ''"
            ></i>
          </div>
        </td>

        <td class="name">
          {{ company?.name ? company.name.substring(3) : "" }}
        </td>

        <td class="score">
          {{
            company?.rankingScore
              ? company?.rankingScore.toString().slice(0, 4) + ""
              : "0"
          }}%
        </td>
      </tr>
    </ng-container>
    <ng-template #noData>
      <tr>
        <td colspan="3">{{ 'NO_DATA_FOUND' | translate }}</td>
      </tr>
    </ng-template>
  </table>
  <hr />
</div>
