.container-table {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: flex-start; /* Centers content vertically */
  overflow-y: auto;
  height: 64vh;
}

.player-table {
  background-color: white;
  width: 100%;

  border-collapse: collapse;
  overflow-x: auto;
}

.player-table td {
  padding: 8px;
  border-bottom: 1px solid #ff2929;
  text-align: center;
}

.iconcircle {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  // background-color: #f0f0f0;
}

.iconcircle i {
  font-size: 204px;
}
