<div class="container-login" #sleectImage id="myDiv">
  <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="Sports Logo" />
    <img src="../../assets/logo wurth.png" alt="Wurth Logo" />
  </div>
  <div class="login-content">
    <h1>Forgot Password</h1>
    <div class="form-container" [formGroup]="forgotpassword">
      <mat-form-field appearance="fill" >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Player's Email"
          formControlName="email"
          required
        />
        <mat-error *ngIf="forgotpassword.get('email')?.hasError('required')" class="error">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotpassword.get('email')?.hasError('email')" class="error">
          Invalid email format
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-login" (click)="forgotpasswor()">
      <button mat-button color="primary">Submit</button>
    </div>
  </div>
</div>
