.container-login {
  height: 100%;
  // background: linear-gradient(to bottom, #f6dfdf, #fb3b3b);
  display: flex;
  flex-direction: column;
  align-items: center;

    .header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #cc0000;
    .header-logo{
     img{
      width: 100px;
     }
    }
    .header-title{
      text-align: center;
      color: white;
    }

}
.card-container{
  // padding: 10px;
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
    padding: 36px;
    border-radius: 16px;


      .form-title{
        width: 100% ;
        text-align: center;
        margin-block: 5px 10px;
        font-size: 1.6rem;
        color: #cc0000;
      }
      .form-group{
        width: 15rem;
    text-align: center;
      }
.setPassword{
  background-color: #cc0000;
  color: white;
}
mat-error{
  color: #333;
  width: 90%;
  margin-left: -16px;
  word-wrap: break-word;
  
}
.error{
 font-size: 13px;
}
  }
}

  // .login-content {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  //   .form-container {
  //     width: 70%; /* Adjust as needed */
  //     max-width: 400px; /* Limit the maximum width */
  //     display: flex;
  //     font-size: 1.3rem;
  //     flex-direction: column;
  //     margin-bottom: 20px;
  //     form {
  //       mat-form-field {
  //         width: 100%;
  //         margin-bottom: 15px;
  //       }
  //     }
  //   }

  //   .mat-form-field {
  //     width: 114%;
  //     margin-left: -17px;
  //   }

  //   .button-login {
  //     // margin-top: 20px;
  //     button {
  //       background-color: black;
  //       font-size: 1.6rem;
  //       padding: 25px 40px;
  //     }
  //   }

  //   @media screen and (max-width: 768px) {
  //     .form-container {
  //       width: 80%;
  //     }
  //   }

  //   @media screen and (max-width: 476px) {
  //     .form-container {
  //       width: 90%;
  //     }
  //   }
  // }
  // .error {
  //   color: #333;
  // }
}
