<div class="container-login" #sleectImage id="myDiv">
  <div class="header-div">
    <div class="header-logo">
      <img src="assets/sports logo.png" alt="">
    </div>
    <div class="header-title">
      <h2>THE REINHOLD WURTH OPEN 2024
      </h2>
    </div>
  </div>
  <div class="card-container">
    <mat-card>
      <h1 class="form-title">{{ 'APP_MAIN.FORGOT_PASSWORD.FORGOT_PASSWORD_TITLE' | translate }}</h1>

<div class="form-group">
      <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'APP_MAIN.FORGOT_PASSWORD.EMAIL_LABEL' | translate }}</mat-label>
          <input matInput type="email" placeholder="{{ 'APP_MAIN.FORGOT_PASSWORD.EMAIL_LABEL' | translate }}" formControlName="email" required />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')" class="error">
            {{ 'APP_MAIN.FORGOT_PASSWORD.EMAIL_REQUIRED_ERROR' | translate }}
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')" class="error">
            {{ 'APP_MAIN.FORGOT_PASSWORD.EMAIL_INVALID_ERROR' | translate }}
          </mat-error>
        </mat-form-field>

        <div *ngIf="showOtp && showPassword">
          <mat-form-field appearance="fill" *ngIf="showOtp && showPassword">
            <mat-label>{{ 'APP_MAIN.FORGOT_PASSWORD.OTP_LABEL' | translate }}</mat-label>
            <input matInput type="number" placeholder="{{ 'APP_MAIN.FORGOT_PASSWORD.OTP_LABEL' | translate }}" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" required />
            <mat-error *ngIf="otp < 0">{{ 'APP_MAIN.FORGOT_PASSWORD.OTP_REQUIRED_ERROR' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="showOtp && showPassword">
            <mat-label>{{ 'APP_MAIN.FORGOT_PASSWORD.PASSWORD_LABEL' | translate }}</mat-label>
            <input matInput type="password" placeholder="{{ 'APP_MAIN.FORGOT_PASSWORD.PASSWORD_LABEL' | translate }}" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required />
            <mat-error *ngIf="password === ''">{{ 'APP_MAIN.FORGOT_PASSWORD.PASSWORD_REQUIRED_ERROR' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div>
      <button mat-button class="setPassword" (click)="submitEmail()" *ngIf="!showOtp && !showPassword">
        {{ 'APP_MAIN.FORGOT_PASSWORD.REQUEST_OTP_BUTTON' | translate }}
      </button>

      <button mat-button class="setPassword" (click)="submitOtpAndPassword()" *ngIf="showOtp && showPassword">
        {{ 'APP_MAIN.FORGOT_PASSWORD.SUBMIT_BUTTON' | translate }}
      </button>
    </div>
    </mat-card>
  </div>


</div>



