<div class="container-login" #sleectImage id="myDiv">
  <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="Sports Logo" />
    <img src="../../assets/logo wurth.png" alt="Wurth Logo" />
  </div>
  <div class="login-content">
    <h1>Forgot Password</h1>
    <div class="form-container">
      <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Player's Email" formControlName="email" required />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')" class="error">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')" class="error">
            Invalid email format
          </mat-error>
        </mat-form-field>

        <div *ngIf="showOtp && showPassword">
          <mat-form-field appearance="fill">
            <mat-label>OTP</mat-label>
            <input matInput type="number" placeholder="Enter OTP" [(ngModel)]="otp"[ngModelOptions]="{standalone: true}" required />
            <mat-error *ngIf="otp<0">OTP is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter New Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required />
            <mat-error *ngIf="password === ''">Password is required</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="button-login">
      <button mat-button color="primary" (click)="submitEmail()" *ngIf="!showOtp && !showPassword">Request OTP</button>
      <button mat-button color="primary" (click)="submitOtpAndPassword()" *ngIf="showOtp && showPassword">Submit</button>
    </div>
  </div>


</div>
