.container-playerName{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

.card-container{
  // padding: 10px;
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  mat-card{
    background-color: #dedede;
    padding: 25px;
    border-radius: 16px;
    h2{
      font-size: 1.4rem;
      color: var(--primary-color);
    }
    mat-form-field{
      width: 100%;
      // msargin: 10px 20px;
    }
    .continueButton{
      // margin-top: 10px;
      background-color: var(--primary-color);
      color: white;
    }
  }
}
.error{
  color: #333;
  font-size: 14px;
  margin-left: -17px;

}

}

@media (min-width:700px){

    mat-form-field{
      width: 25rem;
    }
    .continueButton{
      width: 15rem;
      font-size: 1.5rem;
    }
    .error{
      color: #333;
      font-size: 1rem;

    }


}
