.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
.tabs-container {
  // position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: fit-content;
  .tab-button {
    flex: 1 1 auto;
    max-width: 31%;
    margin: 4px;
    height: 4rem;
    background-color: #ffffffe8;
    color: #200b0b78;
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    padding: 8px;
    overflow: scroll;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
  }
  .active {
    background-color: #cc0000; /* Active button color */
    color: white;
    min-height: 4rem;
    // height: fit-content;
  }
}

}

.tab-content {

  // background-color: rgba(255, 255, 255, 0.507);
  // position: absolute;
  // top: 23vh; /* align with the bottom of the tabs container */
  max-height: 100%;
  overflow: hidden;
}
