<!-- tabs.component.html -->
<div class="container">
  <div class="tabs-container">
    <button
      mat-raised-button
      class="tab-button"
      (click)="setActiveTab('My Team')"
      [ngClass]="activeTab == 'My Team' ? 'active' : ''"
    >
     {{ 'RANKING_PAGE.MY_TEAM' | translate }}
    </button>
    <button
      mat-raised-button
      class="tab-button"
      (click)="setActiveTab('Battle Team')"
      [ngClass]="activeTab == 'Battle Team' ? 'active' : ''"
    >
      {{ 'RANKING_PAGE.BATTLE_TEAM' | translate }}

    </button>
    <button
      mat-raised-button
      class="tab-button"
      (click)="setActiveTab('Company Team')"
      [ngClass]="activeTab == 'Company Team' ? 'active' : ''"
    >
      {{ 'RANKING_PAGE.COMPANY_TEAM' | translate }}

    </button>
    <button
      mat-raised-button
      class="tab-button"
      (click)="setActiveTab('Company Unit')"
      [ngClass]="activeTab == 'Company Unit' ? 'active' : ''"
    >
      {{ 'RANKING_PAGE.COMPANY_UNIT' | translate }}

    </button>
    <button
      mat-raised-button
      class="tab-button"
      (click)="setActiveTab('Global Company')"
      [ngClass]="activeTab == 'Global Company' ? 'active' : ''"
    >
      {{ 'RANKING_PAGE.GLOBAL_COMPANY' | translate }}
    </button>
  </div>
  <hr />
  <div class="tab-content">
    <div *ngIf="activeTab == 'My Team'">
      <app-team-score></app-team-score>
    </div>
    <div *ngIf="activeTab == 'Global Company'">
      <app-global-countries></app-global-countries>
    </div>
    <div *ngIf="activeTab == 'Company Unit'">
      <app-company-unit></app-company-unit>
    </div>
    <div *ngIf="activeTab == 'Company Team'">
      <app-company-teams></app-company-teams>
    </div>
    <div *ngIf="activeTab == 'Battle Team'">
      <app-battle-patner-team></app-battle-patner-team>
    </div>
  </div>
</div>
