<div class="container">
  <div class="newsList">
    <div class="contentNewsList">
      <ng-container *ngFor="let news of listOfNews">
        <mat-card class="card">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title"><h3>{{ news.title }}</h3></mat-card-title>
            <!-- <mat-card-subtitle class="timestamp"></mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content class="card-content">
            <p [innerHTML]="sanitizerHTML(news.content)" class="responsive-text"></p>
            <div class="like-container">
              
            </div>
          </mat-card-content>
          <mat-card-actions class="card-action">
            <div class="like-container">
              <button mat-raised-button (click)="likeNews(news._id)">
                <mat-icon class="thumb-up-icon" [ngClass]="{'liked': news.reacted}" [ngStyle]="{'color': news.reacted ? 'green' : 'red'}">thumb_up_alt_outlined</mat-icon>
              </button>
              <span *ngIf="news.reaction > 0">{{ news.reaction }} Likes</span>
            </div>
            <div class="swap-conatiner" *ngIf="showTeamChats && !hidesuper">
              <button class="button-gap" [class.activeTab]="showTeamChat" (click)="updateNews(news)">
                <mat-icon class="edemo" style="color: rgb(255, 0, 0);;">create</mat-icon>
              </button>
              <button class="button-gap">
                <mat-icon class="edemo" style="color: rgb(255, 0, 0);" (click)="deleteNews(news._id)">delete</mat-icon>
              </button>
            </div>
          </mat-card-actions>
          <mat-card-footer align="right" class="card-footer">{{ getFormattedDate(news.createdAt) }}</mat-card-footer>
        </mat-card>
      </ng-container>
    </div>
  </div> 
</div>
