.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  // height: 100%;
  .newsList{
    width: 95%;

    .contentNewsList{
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;\
      width: 100%;
      height:70vh;
      overflow-y:scroll;
      gap: 2rem;
      .card{
        // margin-block: 1rem;
        width: 95%;
        border: 3px solid gray;
       .card-header{
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
        padding: 0px 10px;
       }
       .card-content{
        padding: 10px ;
        overflow: scroll;

       }
       .card-action{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .like-container{
            display: inline-flex;
            gap: 10px;
            align-items: center;
            button{
              width: fit-content;
              height: fit-content;
              mat-icon{
                height: 1.7rem;
                width: 1.7rem;
              font-size: 1.7rem;
              }
            }
        }
       }
        .card-footer{
          padding-right: 10px;
          border-top: 2px solid grey;
        }
      }
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ff683e;
        // border-radius: 5px;\.
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #f73834;
      }
    }
  }
}
.thumb-up-icon {
  transition: transform 0.2s ease-in-out; // You can customize the duration and easing function
}

.thumb-up-icon.liked {
  transform: scale(1.3); // You can customize the scale value for the desired effect
}
