<div class="team-chat-container">
  <!-- <div #chatwrapper class="chatwrapper" (scroll)="onScroll($event)"> -->
  <div #chatwrapper class="chatwrapper"
  infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [infiniteScrollContainer]="chatwrapper"
        [fromRoot]="true"
        (scrolledUp)="onScrollUp()">
    <div #chatContainer class="chatContainer" *ngFor="let chat of chats">
      <div [class.sender]="currentUser(chat.senderId)" [class.textContainer]="!currentUser(chat.senderId)">
        <div class="messageContainer">
          <!-- <mat-icon class="profile">person</mat-icon> -->
          <div [class.message]="!currentUser(chat.senderId)" [class.senderMessage]="currentUser(chat.senderId)">
            <img [src]="url + '/images/' + chat.senderId?.avatar" class="profile" />

            <mat-card>
              <!-- <img [src]="chat.imageUrl" alt="img" *ngIf="chat.imageUrl" (click)="showImagePopup(chat.imageUrl)">
              <video [src]="chat.videoUrl" alt="video" *ngIf="chat.videoUrl" (click)="showVideoPopup(chat.videoUrl)"></video> -->
              <div *ngIf="chat.documentName">{{chat.documentName}}</div>
              <mat-card-header>
                <mat-card-title>
                  {{chat.senderId?.userName}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                {{chat.contentOrFilePath}}
                <!-- <ng-container *ngIf="
                  chat.contentOrFilePath.length <= 50 || chat.expanded;
                  else truncatedMessage
                ">
                  {{ chat.contentOrFilePath }}
                </ng-container> -->
                <!-- <ng-template #truncatedMessage>
                  <span>{{ chat.contentOrFilePath.slice(0, 50) }}...</span>
                  <a (click)="toggleExpand(chat)" style="color: blue">{{
                    "COMMUNICATION_PAGE.TEAM_CHAT_PAGE.READ_MORE" | translate
                    }}</a>
                </ng-template> -->
              </mat-card-content>
              <mat-card-actions>
                <span style="font-size: 10px; text-align: right">{{
                  chat.time | date : "short"
                  }}</span>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="inputBoxContainer">
    <button mat-icon-button (click)="toggleMediaButtons()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <input type="text" [(ngModel)]="message"
      placeholder="{{ 'COMMUNICATION_PAGE.TEAM_CHAT_PAGE.ENTER_MESSAGE_PLACEHOLDER' | translate }}" />
    <button mat-icon-button class="sendIcon" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <div class="mediaBtnContainer" *ngIf="showMediaBtns">
    <button mat-icon-button class="sendIcon" (click)="selectFile('image')">
      <mat-icon>perm_media</mat-icon>
    </button>
    <button mat-icon-button class="sendIcon" (click)="selectFile('video')">
      <mat-icon>video_library</mat-icon>
    </button>
    <button mat-icon-button class="sendIcon" (click)="selectFile('document')">
      <mat-icon>insert_drive_file</mat-icon>
    </button>
    <input type="file" #fileInput accept="image/*" style="display: none" (change)="onFileSelected($event, 'image')" />
    <input type="file" #videoInput accept="video/*" style="display: none" (change)="onFileSelected($event, 'video')" />
    <input type="file" #documentInput accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx" style="display: none"
      (change)="onFileSelected($event, 'document')" />
  </div>
  <!-- <div *ngIf="selectedImage" class="selectedImage">
    <span (click)="removeSelectedMedia('img')">X</span>
    <img [src]="selectedImage" alt="Selected Image" />
  </div>
  <div *ngIf="selectedVideo" class="selectedVideo">
    <span (click)="removeSelectedMedia('video')">X</span>
    <video [src]="selectedVideo" controls></video>
  </div>
  <div *ngIf="selectedDocument" class="selectedDocument">
    <span (click)="removeSelectedMedia('doc')">X</span>
    <div>{{selectedDocument}}</div>
  </div> -->
</div>
<!-- <div *ngIf="showImgPopup">
  <div class="background-blur" (click)="showImagePopup('')"></div>
  <div class="showImgPopup">
    <img [src]="popupImgUrl" />
  </div>
</div> -->
<!-- <div *ngIf="showVidPopup"> -->
<!-- <div> -->
  <!-- <div class="background-blur" (click)="showVideoPopup('')"></div> -->
  <!-- <div class="showImgPopup"> -->
    <!-- <video
    #videoPlayer
    width="560"
    height="315"
    frameborder="0"
    allowfullscreen>
  </video> -->
  <!-- <video #videoPlayer width="560" height="315" controls (seeking)="onSeeking($event)">
    Your browser does not support the video tag.
  </video> -->
  <!-- </div> -->
<!-- </div> -->
