
<div class="container-table">
  <hr />
  <table class="player-table">
    <ng-container *ngIf="tableData && tableData.length > 0;">
      <tr *ngFor="let battle of tableData; let i = index" class="tab">
        <td class="teamid" style="text-align: justify">{{ i + 1 }}</td>
        <td>
          <ng-container *ngIf="battle.playerProfile; else noImage">
            <img
            width="40px" height="40px" style="border-radius: 50%;"
            formControlName="displayedImage"
            [src]="link+'images/' + battle.playerProfile"
            alt="User Avatar"/></ng-container>
          <ng-template #noImage>
            <mat-icon >person</mat-icon>
          </ng-template>
        </td>

        <td style="text-align: justify;overflow: auto;">
          {{ battle.username ? battle.username:battle.email}}
           <!-- {{ player.username ? player.username : player.email.slice(0, 10) }}... -->
        </td>

        <td class="score">
          {{
            battle.rankingScore
              ? battle.rankingScore.toFixed(1) + ""
              : "0"
          }}%
        </td>
      </tr>
    </ng-container>
  </table>
  <ng-container *ngIf="noData">
    <tr> <td colspan="3">
      <app-no-data-found></app-no-data-found>
    </tr>
  </ng-container>
  <hr />
</div>
