<div class="container-playerImage">
  <span>
    <img src="../../assets/sports logo.png" alt="{{ 'TEAM_IMAGE_PAGE.SPORTS_LOGO_ALT_TEXT' | translate }}">
    <img src="../../assets/logo wurth.png" alt="{{ 'TEAM_IMAGE_PAGE.WUERTH_LOGO_ALT_TEXT' | translate }}">
  </span>

  <div class="image-container">
    <label class="hoverable" for="fileInput">
      <img [src]="displayedImage" alt="{{ 'TEAM_IMAGE_PAGE.SELECTED_IMAGE_ALT_TEXT' | translate }}" />
      <div class="hover-text">{{ 'TEAM_IMAGE_PAGE.CHOOSE_FILE_TEXT' | translate }}</div>
      <div class="background"></div>
    </label>
    <br />
    <input
      id="fileInput"
      type="file"
      class="select-profile-picture"
      (change)="onFileSelected($event)"
    />
    <span class="message">{{ 'TEAM_IMAGE_PAGE.TAP_HERE_TEXT' | translate }}</span>
  </div>

  <button mat-raised-button color="primary" class="continueButton" (click)="submit()">{{ 'TEAM_IMAGE_PAGE.CONTINUE_BUTTON_TEXT' | translate }}</button>
</div>
