
<div class="container-login" #sleectImage id="myDiv">
    <div class="logo-container">
      <img src="../../assets/sports logo.png" alt="Sports Logo" />
      <img src="../../assets/logo wurth.png" alt="Wurth Logo" />
    </div>
    <div class="login-content">
      <h1>Enter Your OTP</h1>
      <div class="form-container" [formGroup]="otppassword">
        <mat-form-field appearance="fill">
          <mat-label>Enter your OTP</mat-label>
          <input
            matInput
            type="number"
            placeholder="Enter your Otp"
            formControlName="otp"
          />
        </mat-form-field>
      </div>
      <div class="button-login" (click)=" sendotpnumber()">
        <button mat-button color="primary">Submit</button>
      </div>
    </div>
  </div>
  