<div class="container">
  <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="{{ 'APP_MAIN.SET_PASSWORD_PAGE.SPORTS_LOGO_ALT_TEXT' | translate }}" />
    <img src="../../assets/logo wurth.png" alt="{{ 'APP_MAIN.SET_PASSWORD_PAGE.WUERTH_LOGO_ALT_TEXT' | translate }}" />
  </div>
  <h2 class="form-title">{{ 'APP_MAIN.SET_PASSWORD_PAGE.SET_PASSWORD_TITLE' | translate }}</h2>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>{{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_LABEL' | translate }}</mat-label>

      <input
        matInput
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        name="password"
        placeholder="{{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_PLACEHOLDER' | translate }}"
        [(ngModel)]="password"
      />

      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{ showPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ 'APP_MAIN.SET_PASSWORD_PAGE.CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
      <input
        matInput
        type="{{ showPassword ? 'text' : 'password' }}"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="{{ 'APP_MAIN.SET_PASSWORD_PAGE.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}"
        [(ngModel)]="confirmPassword"
      />
      <!-- <mat-icon matSuffix (click)=" togglePasswordVisibility()">
        {{showPassword?'visibility':'visibility_off'}}
    </mat-icon> -->
    </mat-form-field>
  </div>
  <!-- Password Error Messages -->
  <mat-error
    style="text-align: center"
    *ngIf="password && password.length < 8"
    class="error"
  >
  <span class="error-text">
    {{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_LENGTH_ERROR' | translate }}
  </span>
  <mat-icon class="error-icon">info</mat-icon>
  </mat-error>
  <mat-error
    style="text-align: center"
    *ngIf="!isPasswordMatch()"
    class="error"
  >
    {{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_MISMATCH_ERROR' | translate }}
  </mat-error>

  <button
    type="button"
    mat-raised-button
    color="primary"
    class="setPassword"
    [disabled]="!isPasswordValid()"
    (click)="setPassword()"
  >
    {{ 'APP_MAIN.SET_PASSWORD_PAGE.SET_PASSWORD_BUTTON_TEXT' | translate }}
  </button>
</div>
