<div class="container">
  <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="Sports Logo" />
    <img src="../../assets/logo wurth.png" alt="Wurth Logo" />
  </div>
  <h2 class="form-title">Set Password</h2>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm your password"
        [(ngModel)]="confirmPassword"
      />
    </mat-form-field>
  </div>

  <mat-error
    style="text-align: center"
    *ngIf="password && password.length < 8"
    class="error"
  >
    Password must be at least 8 characters long.
  </mat-error>
  <mat-error
    style="text-align: center"
    *ngIf="password && !isPasswordValid()"
    class="error"
  >
    Password must contain at least one lowercase letter, one uppercase letter,
    two digit, and one special character.
  </mat-error>

  <button
    type="button"
    mat-raised-button
    color="primary"
    class="setPassword"
    [disabled]="!isPasswordValid()"
    (click)="setPassword()"
  >
    Set Password
  </button>
</div>
