<div class="container">
  <!-- <div class="logo-container">
    <img src="../../assets/sports logo.png" alt="{{ 'APP_MAIN.SET_PASSWORD_PAGE.SPORTS_LOGO_ALT_TEXT' | translate }}" />
    <img src="../../assets/logo wurth.png" alt="{{ 'APP_MAIN.SET_PASSWORD_PAGE.WUERTH_LOGO_ALT_TEXT' | translate }}" />
  </div> -->
  <div class="header-div">
    <div class="header-logo">
      <img src="assets/sports logo.png" alt="">
    </div>
    <div class="header-title">
      <h2>THE REINHOLD WURTH OPEN 2024
      </h2>
    </div>
  </div>
  <div style="width: 100%; padding-inline-start: 1rem;">
    <p routerLink="/" style="color: #cc0000;"><mat-icon style="width: 2rem;height: 2rem; font-size: 2rem; font-weight: 600;">arrow_back</mat-icon></p>
  </div>
  <div class="card-container">
    <mat-card>
      <h2 class="form-title">{{ 'APP_MAIN.SET_PASSWORD_PAGE.SET_PASSWORD_TITLE' | translate }} <mat-icon matTooltip="{{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_LENGTH_ERROR' | translate }}">info</mat-icon></h2>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_LABEL' | translate }}</mat-label>
          <input
            matInput
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            name="password"
            placeholder="{{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_PLACEHOLDER' | translate }}"
            [(ngModel)]="password"
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ showPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ 'APP_MAIN.SET_PASSWORD_PAGE.CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
          <input
            matInput
            type="{{ showPassword ? 'text' : 'password' }}"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'APP_MAIN.SET_PASSWORD_PAGE.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}"
            [(ngModel)]="confirmPassword"
          />
        </mat-form-field>

        <!-- <mat-error style="text-align: center" *ngIf="!isPasswordMatch()" class="error">
          {{ 'APP_MAIN.SET_PASSWORD_PAGE.PASSWORD_MISMATCH_ERROR' | translate }}
        </mat-error> -->

        <div style="text-align: center">
          <button
              type="button"
              mat-raised-button
              class="setPassword"
              [disabled]="!password || !confirmPassword"
              (click)="setPassword()"
              [ngClass]="{ 'enabled-button': password || confirmPassword, 'disabled-button': !password || !confirmPassword }"
          >
              {{ 'APP_MAIN.SET_PASSWORD_PAGE.SET_PASSWORD_BUTTON_TEXT' | translate }}
          </button>

        </div>
        </div>
    </mat-card>
    </div>
</div>
