.container{
  height: 100%;
  background: linear-gradient(to bottom, #f6dfdf, #FF5454);  display: flex;
  flex-direction: column;
  align-items: center;
  .logo-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    img {
      max-width: 50%;
      // margin-right: 10px;
    }
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:700px){
  .form-group{
    mat-form-field{
      width: 25rem;
    }
  }
  .setPassword{
    width: 25rem;
    font-size: 1.5rem;
  }
}
