.container{
  height: 100%;
  // background: linear-gradient(to bottom, #f6dfdf, #FF5454);
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #cc0000;
    .header-logo{
     img{
      width: 100px;
     }
    }
    .header-title{
      text-align: center;
      color: white;
    }
}
.card-container{
  // padding: 10px;
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  mat-card{
    background-color: #dedede;
    padding: 25px;
    border-radius: 16px;


      .form-title{
        width: 100% ;
        text-align: center;
        margin-block: 5px 10px;
        font-size: 1.6rem;
        color: #cc0000;
      }
.setPassword{


    &.enabled-button {
    background-color: #cc0000; // Color for enabled state
    color: #ffffff; // Text color for enabled state
  }

  &.disabled-button {
    background-color: #d88989; // Color for disabled state
    color: #ffffff; // Text color for disabled state
  }
}
mat-error{
  width: 90%;
  word-wrap: break-word;
}
  }
}

  .form-group{
    display: flex;
    flex-direction: column;
  }

}

@media (min-width:700px){
  .form-group{
    mat-form-field{
      width: 25rem;
    }
  }
  .setPassword{
    width: 25rem;
    font-size: 1.5rem;
  }
}
