<div class="container-communications">
  <div class="tabsContainer">
    <div *ngIf="shouldShowTabsForUser()">
      <div *ngIf="!hidesuper">
        <div
          class="tabs"
          [class.activeTab]="showTeamChat"
          (click)="showTeamChat = true"
        >
          Team Chat
        </div>
      </div>

      <!-- Superuser Tab (News Post) -->
      <div *ngIf="hidesuper">
        <div
          class="tabs"
          [class.activeTab]="showTeamChat"
          (click)="showTeamChat = true"
        >
          News Post
        </div>
      </div>
    </div>
    <div
      class="tabs"
      [class.activeTab]="!showTeamChat"
      (click)="showTeamChat = false"
      [class.name]="hidesuper"
    >
      Company News
    </div>

  </div>

  <!-- <div class="content-company-news"> -->
    <div *ngIf="!showTeamChat" class="content-company-news">
      <!-- Display Company News component if Team Chat is not selected -->
      <app-company-news></app-company-news>
    </div>
    
    <div *ngIf="showTeamChat && !hidesuper" class="content-chat-news">
      <!-- Display Team Chat component if a regular user is logged in -->
      <app-team-chat></app-team-chat>
    </div>

    <div *ngIf="showTeamChat && hidesuper" class="content-chat-news">
      <!-- Display News Post component if a superuser is logged in -->
      <app-newspost></app-newspost>
    </div>
  <!-- </div> -->
<!-- </div> -->
