.container-communications{
  width: 100vw;
overflow: hidden;
.tabsContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid rgb(223, 202, 202);
  .tabs {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    &:hover {
      background-color: #cc0000;
    }


    &.activeTab {
      background-color: #cc0000;
      color: #fff;
    }
  }
  // .name{
  //     margin-right: 80px;

  // }
}


.content-chat-news{
  height: fit-content;
  // background-color: rgba(255, 255, 255, 0.507);
  overflow-y: scroll;
}
.content-company-news{
  height: fit-content;
  // background-color: rgba(255, 255, 255, 0.507);
  // overflow-y: scroll;
}
.contentContainer {
  // background-color: rgba(255, 255, 255, 0.507);
  padding: 10px; /* Add padding for visual separation from tabs */
}

}
