<div class="container-communications">
  <div class="tabsContainer">
    <div *ngIf="shouldShowTabsForUser()">
      <div *ngIf="!hidesuper">
        <div
          class="tabs"
          [class.activeTab]="showTeamChat"
          (click)="showTeamChat = true"
        >
          Team Chat
        </div>
      </div>

      <!-- Superuser Tab (News Post) -->
      <div *ngIf="hidesuper">
        <div
          class="tabs"
          [class.activeTab]="!showTeamChat"
          (click)="showTeamChat = false"
        >
          News Post
        </div>
      </div>
    </div>

    <div
      class="tabs"
      [class.activeTab]="!showTeamChat"
      (click)="(showTeamChat)"
      [class.name]="hidesuper"
    >
      Company News
    </div>
  </div>

  <div class="content-chat-news">
    <div>
      <div *ngIf="!hidesuper">
        <app-team-chat></app-team-chat>
      </div>

      <div *ngIf="hidesuper">
        <app-newspost></app-newspost>
      </div>
    </div>

    <div *ngIf="!showTeamChat">
      <app-company-news></app-company-news>
    </div>
  </div>
</div>
