<div class="container-communications">
  <div class="tabsContainer">
    <div *ngIf="shouldShowTabsForUser()">
      <div
        class="tabs"
        [class.activeTab]="showTeamChat"
        (click)="showTeamChat = true"
        *ngIf="!hidesuper"
      >
        Team Chat
      </div>
    </div>
    <div
      class="tabs"
      [class.activeTab]="!showTeamChat"
      (click)="showTeamChat = false"
    >
      Company News
    </div>
  </div>

  <div class="content-chat-news">
    <div *ngIf="showTeamChat">
      <app-team-chat ></app-team-chat>
    </div>

    <div *ngIf="!showTeamChat">
      <app-company-news></app-company-news>
    </div>
  </div>
</div>
