.container-communications{
  width: 100vw;
overflow: hidden;
.tabsContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid rgb(223, 202, 202);
  .tabs {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    &:hover {
      background-color: rgb(255, 0, 0);
    }

    &.activeTab {
      background-color: rgb(255, 0, 0);
      color: #fff;
    }
  }
}


.content-chat-news{
  height: 70vh;
  overflow-y: scroll;
}
.contentContainer {
  padding: 10px; /* Add padding for visual separation from tabs */
}

}
