// Import Angular Material theming
@use '@angular/material' as mat;
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: mat.define-palette(mat.$red-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($custom-theme);
@import './assets/scss/custom.scss';
// Import Angular Material core styles
// Import Angular Material theming
@import '@angular/material/theming';

@import 'ngx-toastr/toastr';
// Import custom font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

// Apply custom font to the entire application
html, body {
  height: 100%;
  // background-image: url('./assets/Tennisplatz_Paris.jpg');
  // background-position: center;
  // background-size: cover;
  // background-size: cover; /* Or another desired size */
  // background-repeat: no-repeat;
  // background-clip: border-box;
  margin: 0;
}
.angular-editor {
  background-color: white;
  // overflow-y: scroll;
}
// Set body height to 100%
body {

  height: calc(100vh - env(safe-area-inset-top));

  width: calc(100vw - env(safe-area-inset-left,safe-area-inset-right));
  position: fixed;
  top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  // padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
.toast-container{
  margin-block-start: env(safe-area-inset-top);
}
// Additional global styles can be added here
@media (min-width: 429px) {
  body{
        font-size: 1.5rem;
  }

  }
  .mat-mdc-menu-panel{
    max-width: fit-content !important;
    min-width: fit-content !important;
    background-color: rgba(102, 99, 99, 0.452) !important;
    height:fit-content !important;
    overflow: hidden !important;
  }
  .mat-mdc-menu-content{
    max-width: 100vw !important;
    min-width: 100vw !important;
    background-color: transparent;
    height: 100vh !important;
  }
.mat-mdc-menu-item {
  border-radius: 50%;
  min-height: 70px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;

  /* Animation properties */
  animation: appear 0.40s ease-in-out forwards; /* Adjust timing and easing as needed */
}

.mat-mdc-menu-item:nth-child(1) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(115px) translateY(20vh);
  -webkit-transform: translateX(115px) translateY(20vh);
  animation-delay: 0s;
}

.mat-mdc-menu-item:nth-child(2) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(230px) translateY(17vh);
  -webkit-transform: translateX(230px) translateY(17vh);
  animation-delay: 0.10s;
}

.mat-mdc-menu-item:nth-child(3) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(230px) translateY(20vh);
  -webkit-transform: translateX(230px) translateY(20vh);
  animation-delay: 0.20s;
}

.mat-mdc-menu-item:nth-child(4) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(115px) translateY(17vh);
  -webkit-transform: translateX(108px) translateY(17vh);
  animation-delay: 0.25s;
}

.mat-mdc-menu-item:nth-child(5) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(0px) translateY(-8.5vh);
  -webkit-transform: translateX(0px) translateY(-8.5vh);
  animation-delay: 0.30s;
}

.mat-mdc-menu-item:nth-child(6) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(-5px) translateY(-39.5vh);
  -webkit-transform: translateX(-5px) translateY(-39.5vh);
  animation-delay: 0.40s;
}

/* Style for child span */
.mat-mdc-menu-item span {
  min-width: 7rem !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  min-height: 7rem !important;

}
@media only screen and (max-width: 429px){

  .mat-mdc-menu-item {
    border-radius: 50%;
    min-height: 70px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;

    /* Animation properties */
    animation: appear 0.40s ease-in-out forwards; /* Adjust timing and easing as needed */
  }

  .mat-mdc-menu-item:nth-child(1) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(30vw) translateY(21vh);
    -webkit-transform:translateX(30vw) translateY(21vh);
    animation-delay: 0s;
  }

  .mat-mdc-menu-item:nth-child(2) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(60vw) translateY(19vh);
    -webkit-transform: translateX(60vw) translateY(19vh);
    animation-delay: 0.10s;
  }

  .mat-mdc-menu-item:nth-child(3) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(60vw) translateY(23vh);
    -webkit-transform: translateX(60vw) translateY(23vh);
    animation-delay: 0.20s;
  }

  .mat-mdc-menu-item:nth-child(4) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(30vw) translateY(21vh);
    -webkit-transform: translateX(30vw) translateY(21vh);
    animation-delay: 0.25s;
  }

  .mat-mdc-menu-item:nth-child(5) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(0vw) translateY(-3vh);
    -webkit-transform: translateX(0vw) translateY(-3vh);
    animation-delay: 0.30s;
  }

  .mat-mdc-menu-item:nth-child(6) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(0vw) translateY(-32.5vh);
    -webkit-transform: translateX(0vw) translateY(-32.5vh);
    animation-delay: 0.40s;
  }

  /* Style for child span */
  .mat-mdc-menu-item span {
    min-width: 7rem !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    min-height: 7rem !important;

  }
  }
@media only screen and (max-width: 391px){

.mat-mdc-menu-item {
  border-radius: 50%;
  min-height: 70px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;

  /* Animation properties */
  animation: appear 0.40s ease-in-out forwards; /* Adjust timing and easing as needed */
}

.mat-mdc-menu-item:nth-child(1) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(115px) translateY(20vh);
  -webkit-transform: translateX(115px) translateY(20vh);
  animation-delay: 0s;
}

.mat-mdc-menu-item:nth-child(2) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(230px) translateY(17vh);
  -webkit-transform: translateX(230px) translateY(17vh);
  animation-delay: 0.10s;
}

.mat-mdc-menu-item:nth-child(3) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(230px) translateY(20vh);
  -webkit-transform: translateX(230px) translateY(20vh);
  animation-delay: 0.20s;
}

.mat-mdc-menu-item:nth-child(4) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(115px) translateY(17vh);
  -webkit-transform: translateX(108px) translateY(17vh);
  animation-delay: 0.25s;
}

.mat-mdc-menu-item:nth-child(5) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(0px) translateY(-8.5vh);
  -webkit-transform: translateX(0px) translateY(-8.5vh);
  animation-delay: 0.30s;
}

.mat-mdc-menu-item:nth-child(6) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(-5px) translateY(-39.5vh);
  -webkit-transform: translateX(-5px) translateY(-39.5vh);
  animation-delay: 0.40s;
}

/* Style for child span */
.mat-mdc-menu-item span {
  min-width: 7rem !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  min-height: 7rem !important;

}
}
@media only screen and (max-width: 360px)and (max-height:780px){

  .mat-mdc-menu-item {
    border-radius: 50%;
    min-height: 70px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;

    /* Animation properties */
    animation: appear 0.40s ease-in-out forwards; /* Adjust timing and easing as needed */
  }

  .mat-mdc-menu-item:nth-child(1) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(115px) translateY(20vh);
    -webkit-transform: translateX(115px) translateY(20vh);
    animation-delay: 0s;
  }

  .mat-mdc-menu-item:nth-child(2) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(230px) translateY(17vh);
    -webkit-transform: translateX(230px) translateY(17vh);
    animation-delay: 0.10s;
  }

  .mat-mdc-menu-item:nth-child(3) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(230px) translateY(20vh);
    -webkit-transform: translateX(230px) translateY(20vh);
    animation-delay: 0.20s;
  }

  .mat-mdc-menu-item:nth-child(4) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(115px) translateY(17vh);
    -webkit-transform: translateX(108px) translateY(17vh);
    animation-delay: 0.25s;
  }

  .mat-mdc-menu-item:nth-child(5) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(0px) translateY(-10vh);
    -webkit-transform: translateX(0px) translateY(-10vh);
    animation-delay: 0.30s;
  }

  .mat-mdc-menu-item:nth-child(6) {
    opacity: 0;
    border-radius: 50%;
    transform: translateX(-5px) translateY(-44vh);
    -webkit-transform: translateX(-5px) translateY(-44vh);
    animation-delay: 0.40s;
  }

  /* Style for child span */
  .mat-mdc-menu-item span {
    min-width: 7rem !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    min-height: 7rem !important;

  }
  }
@media only screen and (max-width: 320px){

.mat-mdc-menu-item {
  border-radius: 50%;
  min-height: 70px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;

  /* Animation properties */
  animation: appear 0.40s ease-in-out forwards; /* Adjust timing and easing as needed */
}

.mat-mdc-menu-item:nth-child(1) {
  opacity: 0;
  border-radius: 50%;
  transform:translateX(88px) translateY(18vh);
  -webkit-transform:translateX(88px) translateY(18vh);
  animation-delay: 0s;
}

.mat-mdc-menu-item:nth-child(2) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(182px) translateY(15vh);
  -webkit-transform: translateX(182px) translateY(15vh);
  animation-delay: 0.10s;
}

.mat-mdc-menu-item:nth-child(3) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(184px) translateY(17vh);
  -webkit-transform: translateX(184px) translateY(17vh);
  animation-delay: 0.20s;
}

.mat-mdc-menu-item:nth-child(4) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(85px) translateY(14vh);
  -webkit-transform: translateX(85px) translateY(14vh);
  animation-delay: 0.25s;
}

.mat-mdc-menu-item:nth-child(5) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(-10px) translateY(-22.5vh);
  -webkit-transform: translateX(-10px) translateY(-22.5vh);
  animation-delay: 0.30s;
}

.mat-mdc-menu-item:nth-child(6) {
  opacity: 0;
  border-radius: 50%;
  transform: translateX(-10px) translateY(-66.5vh);
  -webkit-transform: translateX(-10px) translateY(-66.5vh);
  animation-delay: 0.40s;
}

/* Style for child span */
.mat-mdc-menu-item span {
  min-width: 7rem !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  min-height: 7rem !important;

}
}
/* Define the animation */
@keyframes appear {
  from {
    opacity: 0;
    // transform: translateY(20px); /* Add a slight upward movement for emphasis */
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}

.mat-mdc-menu-item:not([disabled]):hover{
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.mat-mdc-menu-item:focus{
  border-radius: 50% !important;
}
.teamAProgressBarGreen{
  .mdc-linear-progress__bar-inner{
    border-color: #73ff00 var(--mdc-linear-progress-active-indicator-color) !important;
  }
}

.teamAProgressBar{
  .mdc-linear-progress__bar-inner{
    border-color: #cc0000 var(--mdc-linear-progress-active-indicator-color) !important;
  }
}

