<div class="container-playerImage">
  <div class="header-div">
    <div class="header-logo">
      <img src="assets/sports logo.png" alt="{{ 'APP_MAIN.SET_PASSWORD_PAGE.SPORTS_LOGO_ALT_TEXT' | translate }}">
    </div>
    <div class="header-title">
      <h2>THE REINHOLD WURTH OPEN 2024
      </h2>
    </div>
  </div>
  <div style="width: 100%; padding-inline-start: 1rem; text-align: left;">
    <p (click)="back()" style="color: #cc0000;"><mat-icon style="width: 2rem;height: 2rem; font-size: 2rem; font-weight: 600;">arrow_back</mat-icon></p>
  </div>
  <div class="card-container">
    <mat-card>
      <div class="image-container">
        <label class="hoverable" for="fileInput">
          <img [src]="displayedImage" alt="{{ 'APP_MAIN.PLAYER_IMAGE_PAGE.SELECTED_IMAGE_ALT_TEXT' | translate }}" />
          <div class="hover-text">{{ 'APP_MAIN.PLAYER_IMAGE_PAGE.CHOOSE_FILE_TEXT' | translate }}</div>
        </label>
        <input
          id="fileInput"
          type="file"
          class="select-profile-picture"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>
      <span class="message">{{ 'APP_MAIN.PLAYER_IMAGE_PAGE.TAP_HERE_TEXT' | translate }}</span>

      <button mat-raised-button class="continueButton" (click)="submit()">{{ 'APP_MAIN.PLAYER_NAME_PAGE.CONTINUE_BUTTON_TEXT' | translate }}</button>
    </mat-card>
  </div>


</div>
