<div class="container-table">
  <hr />
  <table class="player-table">
    <ng-container *ngIf="tableData && tableData.length > 0;">
      <tr *ngFor="let player of tableData; let i = index" class="tab">
        <td class="teamid" style="text-align: center">{{ i + 1 }}</td>
        <td>
          <!-- <span class="fi fi-gr"></span> -->
          <!-- <mat-icon >person</mat-icon> -->
          <ng-container *ngIf="player.playerProfile; else noImage">
            <img
            width="40px" height="40px" style="border-radius: 50%;"
            formControlName="displayedImage"
            [src]="link+'images/' + player.playerProfile"
            alt="User Avatar"/></ng-container>
          <ng-template #noImage>
            <mat-icon >person</mat-icon>
          </ng-template>
        </td>
        <td style="text-align: justify; overflow: auto;">
          {{ player.username ? player.username : player.email}}
        </td>
        <!-- <td class="sales">{{ player.targetOrSalesRepLC }}</td> -->

        <td class="score">
          {{ player.rankingScore ? (player.rankingScore.toFixed(1) + "%") : "0%" }}
        </td>
      </tr>
    </ng-container>
  </table>
  <ng-container *ngIf="noData">
    <tr> <td colspan="3">
      <app-no-data-found></app-no-data-found>
    </tr>
  </ng-container>
  <hr />
</div>
