<div class="container-table">
  <hr />
  <ul class="player-list">
    <ng-container *ngIf="tableData && tableData.length > 0; else noData">
      <li *ngFor="let player of tableData; let i = index" class="tab">
        <span class="teamid">{{ i + 1 }}</span>
        <span> <mat-icon>person</mat-icon> {{ player.userName }} </span>
        <span class="sales">{{ player.targetOrSalesRepLC }}</span>
        <span class="score">{{ player.currentSalesRepLC }}%</span>
      </li>
    </ng-container>
    <ng-template #noData>
      <li>No data found</li>
    </ng-template>
  </ul>
  <hr />
</div>
