<div class="container-table">
  <ul class="player-list">
    <li class="table-con">
      <p class="th-1">Sr.No</p>
      <p class="th-2">Player Name</p>
      <p class="th-3">Sales in LC</p>
      <p class="th-4">Score</p>
    </li>
    

    <li *ngFor="let player of tableData">
      <span class="teamid">{{defaultIdCount}}</span>
      <span> <mat-icon>person</mat-icon> {{ player.name }} </span>
      <span class="sales">{{ player.currentSalesRepLC }}</span>
      <span class="score">{{ player.core }}%</span>
    </li>
  </ul>
</div>
